@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

html {
  font-size: 15px;
}

body {
  text-align: center;
}

* {
  font-family: 'Poppins', sans-serif;
}

.heading {
  font-weight: 200;
  margin-bottom: 0;
}

.heading--bold {
  font-weight: 600;
  margin: 0 auto;
}

p {
  font-weight: 200;
  color: hsl(229, 6%, 66%)
}

.slogan {
  font-weight: 400;
}

h1,
h3 {
  color: hsl(234, 12%, 34%);
}

.card {
  max-width: 300px;
  height: 220px;
  text-align: left;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
  box-shadow: -1px 1px 9px -1px rgba(136, 136, 136, 0.397);
  margin: 0 15px;
}

#card--one {
  border-top: 5px solid hsl(180, 62%, 55%);
  align-self: center;
  margin-bottom: -300px;
}

#card--two {
  border-top: 5px solid  hsl(0, 78%, 62%);
}
#card--three {
  border-top: 5px solid hsl(34, 97%, 64%);
  margin-top: -30px;
}
#card--four {
  align-self: center;
  margin-bottom: -300px;
  border-top: 5px solid hsl(212, 86%, 64%);
}
.card__img {
  position: absolute;
  right: 30px;
  bottom: 20px;
}

section {
  display: flex;
  margin: 25px auto;
  max-width: 1250px;
  justify-content: center;
  height: 630px;
  flex-wrap: wrap;
  align-items: center;
}

@media only screen and (max-width: 1185px) {
  #card--one {
    margin-bottom: 0;
  }

  #card--three {
    margin-top: -30px;
  }
  #card--four {
    margin-bottom: 0;
    margin-top: -30px;
    order: 2;
  }
}


@media only screen and (max-width: 815px) {
  section {
    height: auto;
  }
  #card--one {
    margin-bottom: 25px;
  }
  #card--two {
    margin-bottom: 25px;
  }
  #card--three {
    margin-bottom: 25px;
    margin-top: 0;
  }
  #card--four {
    order: 2;
    margin-top: 0;
  }
}